* {
  box-sizing: border-box;
  margin: 0;
}
#hero {
  background-color: #d9d9d9;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: black;
}
header #search {
  padding: 10px;

}
#search_bar {
  border-radius: 15px;
  background: white;
  width: 75%;
  border: solid 4px gray;
  padding-left: 10px;
  color: gray;
}
.button {
  border-radius: 15px;
  background: white;
  border: solid 3px gray;
}
